<% provide :title, t("all_categories") %>

<div class="col-md-3">
  <%= render "search_form" %>
  <h2>
    <%= t "download" %>
    <%= link_to t("csv"), admin_categories_path(format: :csv) %>
  </h2>
  <h2><%= t "import_category" %></h2>
  <%= render "imports_category_form" %>
</div>
<div class="col-md-8">
  <h1><%= t "all_categories" %></h1>
  <ul class="users">
    <%= render @categories %>
  </ul>
  <%= will_paginate %>
</div>
