<% provide :title, @category.name %>
<div class="col-md-6 col-md-offset-3">
  <aside class="row">
    <section class="user_info">
      <h1>
        <%= @category.name %>
        <%= link_to t("edit"), edit_admin_category_path,
          class: "btn btn-default btn-lg" %>
      </h1>
      <p>
        <%= t "exetime" %>
        <%= @category.exetime %>
      </p>
      <p>
        <%= t "created_time" %>
        <%= @category.created_at %>
      </p>
      <p>
        <%= t "updated_time" %>
        <%= @category.updated_at %>
      </p>
      </br>
    </section>
    <section class= "content-section text-center">
      <%= link_to t("add_question"), new_admin_category_question_path(@category),
        class: "btn btn-default btn-lg" %>
    </section>
  </aside>
</div>
<div class="col-md-10 col-md-offset-1">
  <h1><%= t "all_questions" %></h1>
  <ul class="list-group">
    <% @category.questions.each do |question| %>
      <li class="list-group-item">
        <h1>
          <%= link_to question.content, [:edit, :admin, @category, question] %>
          <%= link_to t("delete"), [:admin, @category, question], method: :delete, 
            data: {confirm: t("you_sure")}, class: "btn btn-danger" %>
        </h1>
        <ul>
          <% question.answers.each do |answer| %>
            <li class="list-group">
              <%= answer.content %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
