<% provide :title, @category.name %>
<div class="col-md-6 col-md-offset-3">
  <aside class="row">
    <section class="user_info">
      <h1>
        <%= @category.name %>
      </h1>
      <p>
        <%= t "exetime" %>
        <%= @category.exetime %>
      </p>
      <p>
        <%= t "created_time" %>
        <%= @category.created_at %>
      </p>
      <p>
        <%= t "updated_time" %>
        <%= @category.updated_at %>
      </p>
      </br>
    </section>
    <section class= "content-section text-center">
      <%= link_to t("add_question"), new_admin_category_question_path(@category),
        class: "btn btn-default btn-lg" %>
    </section>
  </aside>
</div>
